<% provide(:title, "Contact") %>
<html>
	<head>
		<title><%= yield(:title) %> | Grading App</title>
	</head>
</html>
<body>
	<h1><%= yield(:title) %></h1>
	<p>
		Phone: +33688427634</br>
		Mail: yoan.grandjacques@griffith.ie</br>
		Skype: yoangrandjacques</br>
	</p>
</body>
