<%= form_for(school_module) do |f| %>
  <% if school_module.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(school_module.errors.count, "error") %> prohibited this school_module from being saved:</h2>

      <ul>
      <% school_module.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
