<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @school_module.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @school_module.name %>
</p>

<%= link_to 'Back', school_modules_path %>
